################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/packages/透過塗り潰しA/EditFiles/透過塗り潰しA
